.box {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section {
    background-color: royalblue;
    height: 100%;
    width: 100%;
}