html,
body,
body>div:first-child,
div#__next {
    height: 100%;
    margin: 0;
    padding: 0;
    color: #EAEAEA;
    background-color: #3C4048;
    font-size: 20px;
    min-width: 300px;
}

html {
    font-family: 'Anaheim', sans-serif;
}


/* color: 
https://colorhunt.co/palette/00abb33c4048b2b2b2eaeaea
 */