.main {
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
}

.container {
    background-color: blueviolet;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
}

