.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #3C4048;

}

.container {
    /* background-color: blue; */
    display: flex;
    height: 100vh;
}


/* .box1 { */
    /* background-color: blueviolet; */
    /* flex-grow: 4; */
/* } */

/* .box2 { */
    /* background-color: brown; */
    /* flex-grow: 4; */
/* } */

.footer {
    background-color:#EAEAEA;
    height: 5rem;
}